<nav class="bg-blue-500 text-white p-4">
    <div >
        <a  href="/"><i class="fa-solid fa-hotel"></i><span>Hoteru</span></a>
        <div >
            <div >
                <a  href="/listings">Home</a>
                <a  href="/listings/new">Add new</a>
            </div>
        </div>
        <button >
            <span ></span>
        </button>
    </div>
</nav>