<nav class="h-32 sm:max-w-full max-w-full bg-nav-bar/75 flex-col">

  <div class="nav-top flex justify-between h-1/2 items-center pl-4 pr-4">

    <div class="nav-top-start text-2xl">
      <a class="text-shadow-black" href="/"><i class="fa-solid fa-hotel mr-1"></i>Hoteru</a>
    </div>

    <div class="nav-top-center w-auto text-lg flex justify-between ">
      <div class="nav-item flex items-center mr-3 space-x-2 cursor-pointer relative">
        <img class="w-10 h-10" src="/assets/Home.png" alt="home">
        <a class="text-gray-500">Homes</a>
      </div>
      <div class="nav-item flex items-center mr-3 ml-3 space-x-2 cursor-pointer relative">
        <img class="w-12 h-12" src="/assets/Experience.png" alt="experience">
        <a class="text-gray-500 active:text-black">Experiences</a>
      </div>
      <div class="nav-item flex items-center ml-3 space-x-2 cursor-pointer relative">
        <img class="w-12 h-12" src="/assets/Hotel services.png" alt="services">
        <a class="text-gray-500">Services</a>
      </div>
    </div>


    <div class="nav-top-end text-lg flex w-auto items-center">
      <form>
        <button class="host w-35 h-8 mr-4 rounded-2xl cursor-pointer">Become a host</button>
      </form>
      <a href="/"><i class="fa-solid fa-globe mr-4 globe relative"></i></a>
    </div>
  
  </div>

  <div class="nav-bottom align-middle">
    <input id="search" placeholder="Search"/>
  </div>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">All listings</a>
        <a class="nav-link" href="/listings/new">Add new</a>
      </div>
    </div> -->
</nav>