@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }
 @theme {
  --color-nav-bar: #fcf6bd;
  --color-background: #faedcd;
  --color-footer: #e9edc9;
  /* --text-responsive: clamp(14px, 2vw, 20px); */
}





/* -----------------------  Navbar ------------------------ */
.nav-item::after {
  content: "";
  position: absolute;
  bottom: -4px; /* below text */
  left: 0px;
  width: 0px;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.nav-item.active > a p{
  color: #000000;
}

@media(max-width : 768px){
  .nav-itme.active > a p{
    display: block;
    position: relative;
    bottom: -8px;
  }
}

.nav-item.active::after {
  width: 100%;
}

@media(max-width : 768px){
  .nav-bottom{
    position: absolute;
    /* bottom: -10px; */
  }
  /* .nav-top-center{

  } */
}




/* -----------------------  Navbar ------------------------ */