@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }
 @theme {
  --color-nav-bar: #fcf6bd;
  --color-content: #faedcd;
  --color-footer: #e9edc9;
}

/* -----------------------  Navbar ------------------------ */
.nav-item::after {
  content: "";
  position: absolute;
  bottom: -2px; /* below text */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.nav-item.active > a{
  color: #000000;
}

.nav-item.active::after {
  width: 100%;
}

.host:hover{
  background-color: rgb(219, 218, 218);
}

.globe:hover::after{
  content:"";
  position: absolute;
  left: 20px;
  width: 30px;
  height: 30px;
  background-color: rgb(219, 218, 218);
}





/* -----------------------  Navbar ------------------------ */