@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }
 @theme {
  --color-logo: #003049;
  --color-nav-bar: #fcf6bd;
  --color-background: #faedcd;
  --color-footer: #e9edc9;
  /* --text-responsive: clamp(14px, 2vw, 20px); */
}

/* ----------------------- boilerplate --------------------- */
.main-container{
  min-height: 100vh;
  min-height: 100dvh;
}

/* ----------------------- Navbar ------------------------ */
.nav-item::after {
  content: "";
  position: absolute;
  bottom: -4px; /* below text */
  width: 0px;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.nav-item.active > a p{
  color: #000000;
}

.nav-item.active::after {
  width: 100%;
}

/* ----------------------- Home list ------------------------ */
.scroll-btn:hover{
  cursor: pointer;
}

.scroll-btn:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.scroll-btn:hover img{
  border-radius: 50%;
  background-color: #fef3c7;
}

/* ---------------------------- room-image --------------------- */
/* .room-images::before{
  width: 30px;
  height: 30px;
  background-image: url("/assets/left-arrow.png");
} */
