@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui"{
  themes: light --default
}

@theme {
  --color-logo: #F55F0A;
  --color-main-color: #2c35e0ff;
  --color-background: #faedcd;
  --font-optical-sizing: auto;
  /* --logo-size: min(30px, 5vw, 50px); */
}

html, body {
  /* overflow-x: hidden; */
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  user-select: none;
  @apply text-sm xl:text-2xl
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

li:focus{
  background-color: transparent !important;
}

/* ----------------------- Navbar ------------------------ */
.active {
  color: var(--color-main-color)
}


/* ----------------------------  Home page --------------------- */
.dropdown-item {
  @apply btn border-0 bg-transparent w-full px-2 cursor-pointer rounded-box hover:bg-main-color/50;
}

/* -------------------------- Form ---------------------- */
.input-field {
  @apply bg-white focus:outline-none text-sm;
}

/* ---------------- Review Form ------------------------ */
.review-text-area {
  @apply w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-600 rounded-md resize-none text-gray-700
}

.image-input {
  @apply m-2 w-20 h-20 border-2 border-dashed border-gray-400 rounded flex justify-center items-center cursor-pointer text-gray-400
}

/* --------------- Filter ------------------------- */
.expand-item:open{
  transform: rotate(180);
}